.player {
  flex: 1 !important;
  border-bottom: 1px solid var(--main);
  padding: 5px;
  display: flex;
  flex-direction: column;
  user-select: none;
  position: relative;
}
.player__number {
  width: 30px;
  display: grid;
  place-items: center;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  color: white;
  background-color: var(--main);
  top: 5px;
  right: 5px;
}
.player > h1 {
  font-size: 1rem;
  margin-bottom: 0;
}
.player > p {
  color: gray;
  font-size: 0.8rem;
  margin-bottom: 0;
}
.player__cards {
  display: flex;
  flex-wrap: wrap;
}
