.games {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main);
}
.games__main {
  width: 100%;
  background-color: var(--tertiary);
  max-width: 1000px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.games__main__loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--secondary);
}

.games__main__loading > p {
  color: white;
  user-select: none;
  margin-top: 30px;
}
.games__main__loading > img {
  width: 100px;
  -webkit-user-drag: none;
  transition: all 1s ease;
  animation: animate 1s ease 0.2s infinite alternate-reverse forwards;
}

@keyframes animate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.games__main__header {
  display: flex;
  background-color: var(--main);
  user-select: none;
  user-zoom: none;
  padding: 10px 0;
  align-items: flex-start;
}

.games__main__header > button,
.games__main__games__no__engine > button {
  background-color: var(--tertiary) !important;
  outline: none !important;
  border: none !important;
  color: black !important;
  transition: all 1s ease;
}
.games__main__games__no__engine > button {
  background-color: var(--secondary) !important;
  color: white !important;
  width: 100%;
  max-width: 300px;
  border: none !important;
}
.games__main__header > button:hover,
.games__main__games__no__engine > button:hover {
  background-color: var(--primary) !important;
  color: white !important;
}
.games__main__header > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.games__main__header > div > h1 {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0;
}
.games__main__header > div > p {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 0;
}
.games__main__games {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}
.games__main__games__no__engine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.games__main__games::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .games__main__header {
    padding: 10px;
  }
}
