.environment {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.environment__top {
  flex: 0.6;
  display: flex;
}
.environment__bottom {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  position: relative;
}
.environment__bottom__cards {
  flex: 1;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
.environment__top__left {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.environment__top__center {
  flex: 1;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  user-zoom: none;
}
.environment__top__center > button,
.environment__bottom > button {
  width: 100px !important;
  transition: all 1s ease;
  border: none !important;
  outline: none !important;
  background-color: var(--secondary) !important;
}
.environment__top__center > p {
  text-align: center;
}
.environment__top__center > button:hover,
.environment__bottom > button:hover {
  background-color: var(--main) !important;
  color: white !important;
}
.environment__bottom > button {
  margin: 10px;
  margin-bottom: 30px;
  background-color: var(--secondary) !important;
}
.environment__top__right {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.environment__top__center__cards {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}
.environment__top__center__card {
  padding: 2px;
  width: 50px;
  border-radius: 2px;
  border: 1px solid var(--main);
  margin: 2px;
  transition: all 1s ease;
  cursor: pointer;
  position: absolute;
}
.environment__top__center__card > img {
  width: 100%;
  -webkit-user-drag: none;
}
.environment__top__center__card:first-of-type {
  transform: rotate(-135deg) !important;
  transform-origin: start;
}
.environment__top__center__card:nth-child(odd) {
  transform: rotate(30deg);
  transform-origin: start;
}
.environment__top__center__card:nth-child(even) {
  transform: rotate(-45deg);
  transform-origin: start;
}

.environment__bottom__player__number {
  width: 30px;
  display: grid;
  place-items: center;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  color: white;
  background-color: var(--main);
  top: 5px;
  right: 5px;
}
