.game__engine__modal__header,
.game__engine__modal__body,
.game__engine__modal__footer {
  background-color: var(--secondary) !important;
  color: white;
}

.game__engine__modal__close__btn,
.game__engine__modal__create__btn {
  width: 100px !important;
  transition: all 1s ease;
  border: none !important;
  outline: none !important;
}

.game__engine__modal__close__btn {
  width: fit-content !important;
}

.game__engine__modal__create__btn {
  background-color: var(--main) !important;
}
.game__engine__modal__create__btn:hover,
.game__engine__modal__close__btn:hover {
  background-color: var(--primary) !important;
  color: white !important;
}

.game__engine__modal__close__btn {
  background-color: var(--tertiary) !important;
}
.game__engine__modal__body__players {
  display: flex;
  flex-wrap: wrap;
}
.game__engine__modal__body > h1 {
  font-size: 1rem;
  margin-bottom: 5px;
}
