.header {
  display: flex;
  justify-content: space-between;

  padding: 20px 30px;
  background-color: var(--primary);
  position: sticky;
  top: 0;
}
.header > img {
  width: 50px;
  user-select: none !important;
  -webkit-user-drag: none !important;
  user-zoom: none;
}
.header__right > button {
  background-color: var(--secondary) !important;
  outline: none;
  border: none !important;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 10px;
  }
}
