.new__game__modal__header,
.new__game__modal__body,
.new__game__modal__footer {
  background-color: var(--secondary) !important;
  color: white;
  user-select: none !important;
}

.new__game__modal__close__btn,
.new__game__modal__create__btn {
  width: 100px !important;
  transition: all 1s ease;
  border: none !important;
  outline: none !important;
}
.new__game__modal__body > form > h2 {
  font-size: 1rem;
  margin-top: 10px;
}

.new__game__modal__create__btn:hover,
.new__game__modal__close__btn:hover {
  background-color: var(--main) !important;
  color: white !important;
}

.new__game__modal__create__btn {
  background-color: var(--main) !important;
}

.new__game__modal__close__btn {
  background-color: var(--tertiary) !important;
}

.new__game__modal__body__cards {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 0px 10px;
}

.new__game__modal__body__card,
.new__game__modal__body__card__active {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px !important;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--main);
  transition: all 1s ease;
  border: 1px solid transparent;
  margin-left: 10px;
}
.new__game__modal__body__card {
  background-color: transparent !important;
  border: 1px solid var(--main);
}
.new__game__modal__body__card:hover,
.new__game__modal__body__card__active:hover {
  border: 1px solid var(--main);
  transform: scale(1.05);
}
.new__game__modal__body__card > img,
.new__game__modal__body__card__active > img {
  width: 100px;
  -webkit-user-drag: none;
}
.new__game__modal__body__card > h3,
.new__game__modal__body__card__active > h3 {
  font-size: 0.9rem;
  margin-top: 5px;
}

.new__game__modal__body__cards::-webkit-scrollbar {
  height: 5px;
  border-radius: 999px;
}
.new__game__modal__body__cards:last-of-type {
  justify-content: unset;
}

/* Track */
.new__game__modal__body__cards::-webkit-scrollbar-track {
  background: var(--tertiary);
}

/* Handle */
.new__game__modal__body__cards::-webkit-scrollbar-thumb {
  background: var(--main);
  cursor: pointer;
}

/* Handle on hover */
.new__game__modal__body__cards::-webkit-scrollbar-thumb:hover {
  background: var(--main);
}
