.game {
  position: relative;
  width: 130px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  user-zoom: none;
  margin: 5px;
  transition: all 1s;
  justify-content: center;
  cursor: pointer;
}
.game__engine__details {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.game__engine__details > p {
  color: white;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  width: 100%;
  font-weight: unset;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game:hover {
  transform: scale(1.02);
}
.game > h1 {
  color: white;
  font-size: 1rem;
  margin: 0 !important;
}
.game > p {
  color: white;
  font-size: 0.7rem;
  margin: 0 !important;
}
.game > img {
  -webkit-user-drag: none;
  height: 100px;
  border-radius: 5px;
}
.game__full,
.game__active {
  width: 10px;
  height: 10px;
  z-index: 10;
  border-radius: 50%;
  transition: all 1s ease;
  position: absolute;
  top: 5px;
}
.game__full {
  background-color: red;
  left: 5px;
  animation: ripple 1s ease 0s infinite alternate-reverse forwards;
}
.game__active {
  right: 5px;
  background-color: var(--secondary);
  animation: ripple 1s ease 0.5s infinite alternate-reverse forwards;
}

@keyframes ripple {
  from {
    transform: scale(0.5);
    opacity: 1;
  }
  to {
    transform: scale(1.2);
    opacity: 0.5;
  }
}
